@import 'Utils/variables.scss';

.book-item {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;

  background-color: $item-bg-color;

  .book-item__image {
    height: 280px;
    max-width: 70%;
    object-fit: cover;

    box-shadow: 10px 5px 20px grey;
  }

  .book-item__label {
    width: 85%;

    color: #a5a5a5;
    font-family: system-ui;
    font-weight: lighter;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book-item__category {
    text-decoration: underline;
  }

  .book-item__name {
    color: black;
    font-family: 'coolvetica';
    font-size: 1.4rem;
  }
}
