@import "Utils/variables.scss";

.item-description-wrapper {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-areas: ". description .";

  .item-description {
    grid-area: description;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin: 30px 0;

    background-color: $item-bg-color;

    .item-description-info {
      display: grid;
      flex-direction: column;
      gap: 20px;
    }
  }
}
