@font-face {
  font-family: "coolvetica";
  src: url("Fonts/coolvetica.eot");
  src: local("☺"), url("Fonts/coolvetica.woff") format("woff"),
    url("Fonts/coolvetica.ttf") format("truetype"),
    url("Fonts/coolvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
